<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=203.115.122.28;Initial Catalog=ADF_Sahadev;User ID=adfactorsorm;Password=c0ld1*5;" providerName="System.Data.SqlClient" />   
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value="D:\Log_EmailAPI.txt"/>
    <add key="token" value="045793b8fae14ebfbb5a32cc55d11fcd"/>
    
    <add key="Newsletter_Html" value="D:\Shivakiran\Backup_Prashant\Sahadeva_NewsLetter\Sahadeva_NewsLetter\Newsletter_Html.txt"/>
    <add key="SectionHeading" value="D:\Shivakiran\Backup_Prashant\Sahadeva_NewsLetter\Sahadeva_NewsLetter\SectionHeading.txt"/>
    <add key="SectionRow_Cluster" value="D:\Shivakiran\Backup_Prashant\Sahadeva_NewsLetter\Sahadeva_NewsLetter\SectionRow_Cluster.txt"/>
    <add key="SectionRow" value="D:\Shivakiran\Backup_Prashant\Sahadeva_NewsLetter\Sahadeva_NewsLetter\SectionRow.txt"/>
    <add key="SectionRow_WithOutCluster" value="D:\Shivakiran\Backup_Prashant\Sahadeva_NewsLetter\Sahadeva_NewsLetter\SectionRow_WithOutCluster.txt"/>
    <add key="TitleInfoSection" value="D:\Shivakiran\Backup_Prashant\Sahadeva_NewsLetter\Sahadeva_NewsLetter\TitleInfoSection.txt"/>
    <add key="Newsletter_Html_V2" value="D:\Shivakiran\Backup_Prashant\Sahadeva_NewsLetter\Sahadeva_NewsLetter\Newsletter_Html_V2.txt"/>



    <!--Mail Configration-->
    <add key="MailErrorID" value="mayuresh.joshi@adfactorspr.com"/>
    <add key="MailBody" value="D:\ADFACTORS\E2EDCMS\E2EDCMS.IIA.JobOutputMailer\MailBody.txt"/>
    <add key="MailBody_AnwerPPO" value="D:\ADFACTORS\AnswerPPOMail\EmailBody_PPO.txt"/>
    <add key="LoopInMailBody" value="D:\ADFACTORS\AnswerPPOMail\EmailBody_PPO_Loop.txt"/>

    <add key="MailPort" value="25"/>
    <add key="MailServer" value="66.7.148.164"/>
    <add key="FromMailAddress" value="ppo@adfactorspr.com"/>
    <add key="FromDisplayName" value="Dossier Generator"/>
    <add key="CCEmailID" value="kiran@adfactorspr.com,ashish.jaokar@adfactorspr.com,shubham.joshi25007@gmail.com"/>
    <add key="BCCEmailID" value="mayuresh.joshi86@gmail.com"/>




  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
