<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=ANIL-PC\SQLEXPRESS;Initial Catalog=ADF_Sahadev;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=ad-factor-rds.czdanbfc3n8u.ap-south-1.rds.amazonaws.com;Initial Catalog=ADF_Sahadev;User ID=Admin;Password=4slX0BjVK46zrZ6dO4f1;" providerName="System.Data.SqlClient" />-->

    <add name="ConnectionString" connectionString="data source=ANIL-PC\SQLEXPRESS;initial catalog=ADF_Sahadev;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="Firstpagebg" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Sahadeva_NewsLetter\Sahadeva.Dossier.CoverageDossier\Images\FirstpageBG.jpg"/>
    <add key="ArticleIamgeURL" value="http://mtimages.merryspiders.com/ArticleImages/Uploaded_Images/"/>
    <!--<add key="ArticleOnlineIamgeURL" value="https://lightsandbox.com/Images/ArticleImages/" />-->
    <add key="ArticleOnlineIamgeURL" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\OutputFiles\"/>
    <add key="ClientLogoURL" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Sahadeva_NewsLetter\Sahadeva.Dossier.CoverageDossier\Images\ClientIcons\"/>
    <add key="ADFLogoURL" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Sahadeva_NewsLetter\Sahadeva.Dossier.CoverageDossier\Images\adflogo.jpg"/>
    <!--<add key="SavePath" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\OutputFiles\" />-->
    <add key="SavePath" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\OutputFiles\"/>
    <add key="ErrorLogPath" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Logs.txt"/>
    <add key="TimeLogPath" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Logs.txt"/>
    <add key="Imagenotavailable" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Sahadeva_NewsLetter\Sahadeva.Dossier.CoverageDossier\Images\No_Image_Available.jpg"/>
    <add key="images" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Sahadeva_NewsLetter\Sahadeva.Dossier.CoverageDossier\Images\Publications\"/>
    <add key="ScreenshotSavePath" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Sahadeva_NewsLetter\Sahadeva.Dossier.CoverageDossier\Images\ClientGraphimages\"/>
    <add key="ScreenshotSavePath_Online" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\Sahadeva_NewsLetter\Sahadeva.Dossier.CoverageDossier\Images\ClientGraphimages\"/>

    <add key="MaxDegreeOfParallelism" value="1"/>
    <add key="GraphImageswithHight" value="width=988&amp;height=988"/>
    <add key="GraphImageswithHight_4" value="width=700&amp;height=997"/>

    <!--Images-->
    <add key="Screenshot_APIUrl" value="https://api.urlbox.io/v1/4G9b0Mqi6yniUmhs/png?url=myurl&amp;width=999&amp;height=999;delay=6000"/>
    <add key="Diffbot_TimeOutIntervalForOperation" value="1800000"/>
    <add key="Image_MaxDegreeOfParallelism" value="4"/>
    <add key="Image_MaxDegreeOfParallelismTwitter" value="1"/>
    <!--<add key="ScreenshotSavePath_Online" value="E:\DATA\WEBSITES\ADFACTORS\WebApps\lightsandbox.com\images\ArticleImages\"/>-->
    <add key="ScreenshotSavePath_Online" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\OutputFiles\"/>

    <!--Graph Images-->
    <add key="Screenshot_APIUrlGraph" value="https://api.urlbox.io/v1/4G9b0Mqi6yniUmhs/png?url=myurl&amp;selector=%23tblChart&amp;width=979&amp;height=979"/>


    <add key="OutputFiles_URL" value="https://aidossier.adfactorspr.com/OutputFiles/"/>

    <add key="OutputFiles_URL_DT2" value="https://aidossier.adfactorspr.com/OutputFiles/"/>
    <add key="OutputFiles_URL_DT3" value="https://aidossier.adfactorspr.com/OutputFiles/"/>
    <add key="OutputFiles_URL_DT4" value="https://aidossier.adfactorspr.com/OutputFiles/"/>

    <add key="MailBodypath" value="D:\ADFACTORS\TFS Applications\PR\Workbench\Dossier Template2\mailBody\mail.txt"/>
    <!--<add key="ArticleIamgeURL" value=""/>
    <add key="ArticleIamgeURL" value=""/>-->
    <add key="MailSentStatusID" value="7"/>
    <add key="DossierGenerationStart" value="6"/>
    <!--Mail Configration-->
    <add key="MailErrorID" value="mayuresh.joshi@adfactorspr.com"/>
    <add key="MailBody" value="D:\ADFACTORS\E2EDCMS\E2EDCMS.IIA.JobOutputMailer\MailBody.txt"/>
    <add key="MailBody_AnwerPPO" value="D:\ADFACTORS\AnswerPPOMail\EmailBody_PPO.txt"/>
    <add key="LoopInMailBody" value="D:\ADFACTORS\AnswerPPOMail\EmailBody_PPO_Loop.txt"/>
    <add key="MailPort" value="25"/>
    <add key="MailServer" value="66.7.148.164"/>
    <add key="FromMailAddress" value="ppo@adfactorspr.com"/>
    <add key="FromDisplayName" value="Dossier Generator"/>
    <add key="CCEmailID" value="kiran@adfactorspr.com,ashish.jaokar@adfactorspr.com,shubham.joshi25007@gmail.com"/>
    <add key="BCCEmailID" value="mayuresh.joshi86@gmail.com"/>
    <add key="ErrorEmailID" value="vivek.lad@m.pegasusinfocorp.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
