@-ms-viewport{width:device-width;} 

@media screen and (max-width: 360px) {
#header, #intro, #footer, #copyright, #content{max-width: 100%; margin: 0;}
#right-top {width:auto;}
label{float: none; width: 100%;}
input,select,textarea{float: none; width: 95%;}
}

@media screen and (max-width: 900px) {
body {font-size: 90%; background-color:#1d2536;}
#content {padding: .8em 0;}
.imagegrid li, .imagegrid2 li {width: 100% !important;}
.loginlogo{margin:0 auto;width:190px; text-align:center; padding:10px 0;}
.loginbox{margin:0 auto;  margin-top:10%;  padding:15px 20px 0; width:80%; max-width:300px;  background-color: #f1f1f1; -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px; 
border:1px solid #ececec;

}
.logintextbox{padding:10px 15px; border:1px solid #dfdfdf; color: #999; width:100%; max-width:300px; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; box-sizing: border-box;}
    .hidebtn {display: none;}
    
    .form input[type="submit"] {
	font-size: 1em;
	color: #fff;
	display: block;
	border: none;
	padding: 0.7em 0.5em;
	outline: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	outline: none;
	cursor: pointer;
	background: #F37C00;	
	width: 100%;
	box-sizing: border-box; 	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
}
.form input[type="submit"]:hover
    {
        background: #E64A00;
        color: #fff;
    }
    .chkbox-custom{font-size: 1em;
	color: #fff;
	display: block;
	border: none;
	padding: 0.7em 0.5em;
	outline: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	outline: none;
	cursor: pointer;
	background: #F37C00;	
	width: 100%;
	box-sizing: border-box; 	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;  }
    
  .form  input[type="checkbox"] {  
    font-size: 1em;
	color: #fff;
	display: block;
	border: none;
	padding: 0.7em 0.5em;
	outline: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	outline: none;
	cursor: pointer;
	background: #F37C00;	
	width: 100%;
	box-sizing: border-box; 	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
}  
    
}


@media screen and (max-width: 640px) {
#intro{text-align:center;}
#intro figcaption{font-size: 1em; line-height:120%; color: #000000; text-transform:none; text-align:center; margin:.5em 0 1.5em 0;} 
#intro h1 {text-align:center; font-size:1.5em;}
#intro img {width:70%; float:none;}

.grid_1of2, .grid_1of2.nogap,
.grid_1of3, .grid_2of3, .grid_1of3.nogap, .grid_2of3.nogap,
.grid_1of4, .grid_2of4, .grid_3of4, .grid_1of4.nogap, .grid_2of4.nogap, .grid_3of4.nogap,
.grid_1of5, .grid_2of5, .grid_3of5, .grid_4of5, .grid_1of5.nogap, .grid_2of5.nogap, .grid_3of5.nogap, .grid_4of5.nogap,
.grid_1of6, .grid_2of6, .grid_3of6, .grid_4of6, .grid_5of6, .grid_1of6.nogap, .grid_2of6.nogap, .grid_3of6.nogap, .grid_4of6.nogap, .grid_5of6.nogap
{display: block; float: none; width: auto; margin: 0 0 5% 0; padding: 0;}
}

@media screen and (max-width: 780px) {
#right-top {width:auto;}
.imagegrid li, .imagegrid2 li {width: 50%;}

#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {display: block;}
#nav > ul {height: 1em; display: none; position: absolute; left: 0; right: 0; z-index: 999; margin:0 1px;}
#nav:target > ul {display: block; width: 100%; margin: 0 auto;}
#nav > ul > li {width: 100%; float: none; top: 1.5em; background-color: #DDD; }
#nav > ul > li > a {border-bottom: 1px solid #CCC; text-align: left; padding-left: 0.7em; line-height: 2.2em;}
#nav li ul {position: static; }
#nav > ul > li > a.selected {border:1px solid #CCC; background-color: #f1f1f1; color:#000;}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {background-color: #DDD; border:0; border-bottom: 1px solid #f1f1f1; color:#f47c00;}

}

@media screen and (max-width: 1280px) {
#header, #intro, #footer, #copyright, #content, #row1content, #row2content  {margin: 0 auto; max-width:95%;}
}

