html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, sub, sup, var, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin: 0; padding: 0; font-size: 100%; font: inherit; vertical-align: baseline; border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin: 0; padding: 0; display: block;}

body {background: #fff; font: 1em/150% "Open Sans", Arial, Helvetica, sans-serif; color: #555555;}

a {color: #c05757; text-decoration: none;}
a:hover {color: #eb59a1;}
p {margin: 0 0 1.2em 0; padding: 0; text-align: justify;}
h1, h2, h3, h4, h5, h6 {margin: .4em 0; line-height: 1.6em; font-weight: normal;}
h1{font-size: 1.8em; color: #000000; text-transform: uppercase;}
h2{font-size: 1.8em; color: #e70052;}
blockquote{margin: 0 1.7em; padding: 0 10px; border-left: 1px solid #000000; color: #222222;}
.clearfix:after {content: " ";  visibility: hidden; display: block; height: 0; clear: both;}

/* Images */

img {border: 0; max-width: 100%; height: auto; padding: 0; margin: 0;}
.imgbox{float: left; margin: 0 1em .7em 0; clear: left; padding: .6em; border: 1px solid #D6D6D6;}
.leftimage{margin: 0 1em 0 0; float: left;}
.rightimage{margin: 0 0 0 1em; float: right;}
/*.center{text-align: center;}*/

/* Structure */

#pagewrap {margin: 0 auto;}
#headerwrap, #introwrap, #footerwrap, #copyrightwrap, #row1, #row2{display: block; width: 100%; margin: 0 auto; padding: 0; text-align: left; word-wrap: break-word;}
#headerwrap {color: #000; background-color:#fff; border-bottom:1px solid #f1f1f1; }
#contentwrap {backgroud-color: #ffffff; padding:15px 0;}

#footerwrap {color: #919191; padding: 2em 0; background:#442727;}
#copyrightwrap {color: #f1f1f1; background: #2f0d0d; padding: .7em 0; text-align: center;}
#header, #footer, #copyright, #content, #pagename, #row1content, #row2content {max-width: 1100px; margin: 0 auto;}
#pagename{padding: .6em 0; color: #442727; }
/*Header*/

#logo {width: auto; float: left;}
#logo h1{margin: .4em 0 0 0;} 
#right-top{width: 50%; float: right; text-align: center;}


/*Navigation*/

#nav > a { width:2em; height: 2em; text-align: left; position: relative; color:#333; text-transform:uppercase; top: 0; margin: 0 0 0 2%; display: none; font-weight:bold; background-color: #fff; padding: 5px 6px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; top: .7em;}
#nav > a:after {content: " "; position: absolute; width: 1.5em; height: 4px; background-color: #ada981; right: 0; box-shadow: 0 10px 0 #ada981,  0 20px 0 #ada981; float:right;   -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#nav li {position: relative; z-index: 999; list-style: none; }
#nav li a {color: #000000; display: block; }
#nav span:after {width: 0;  height: 0;  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #ff005b; content: " "; vertical-align: middle; display: inline-block; position: relative; left: 5px;}

#nav > ul {height: 4.2em;}
#nav > ul > li {width:25%; /* Calculate width by diving 100 by no. of links*/ float: left; }
#nav > ul > li > a {font-size: .8em; line-height: 5.2em; text-align: center; padding: 0 .7em;  }
#nav > ul > li > a.selected {color:#ff0000; }
#nav > ul > li:last-child  > a {border-right: 0;}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {color: #f47c00;}

/* Login box */
.loginbox{margin:0 auto;  margin-top:10%;  padding:30px 40px; width:320px; background-color: #f1f1f1; -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px; 
border:1px solid #ececec;
}

.loginlogo{margin:0 auto;width:320px; text-align:center; padding:20px 0;}
.logintextbox{padding:10px 15px; border:1px solid #dfdfdf; color: #999; width:100%; margin-bottom:5px;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; box-sizing: border-box;}

.loginbtn{margin-top:5px; padding:10px 15px !important; border:1px solid #111; width:100% !important; background-color: #252930 !important; color: #d1d1d1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor: pointer; text-transform:uppercase; -webkit-border-radius: 3px; -moz-border-radius: 3px;
border-radius: 3px;}
.loginbtn:hover{background-color: #000 !important; }



/*Content*/
#content{min-height: 400px;}
#content h2{font-size: 1.3em;}
#content h3{font-size: 1.1em; color: #0050be;}

#list ul {list-style-image: url("../images/arrow.png"); padding-left: 3em; margin-bottom: 1.2em; color: #000000;}
#list ul li {line-height: 30px;  }

ul.icons{}
ul.icons li{padding: 0 0 25px 65px; line-height:30px; list-style:none;}
.icon1 {background: url("../images/icon1.png") no-repeat;}
.icon2 {background: url("../images/icon2.png") no-repeat;}
.icon3 {background: url("../images/icon3.png") no-repeat;}
.icon4 {background: url("../images/icon4.png") no-repeat;}
.icon5 {background: url("../images/icon5.png") no-repeat;}
.icon6 {background: url("../images/icon6.png") no-repeat;}
.icon7 {background: url("../images/icon7.png") no-repeat;}
.icon8 {background: url("../images/icon8.png") no-repeat;}
.icon9 {background: url("../images/icon9.png") no-repeat;}

#intro{max-width: 700px; margin: 0 auto; padding: 1.3em 0; text-align: center;}
.introtext{background-color: #000000; color: #ffffff; font-size: 2em; padding: 1em; line-height:1.2em; text-align: center; 
filter: alpha(opacity=80); opacity: 0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    background-color: #c30046; }

#row1content {padding-bottom: 3em; padding-top: 1em;}
#row1content h1{text-align: center; margin: 0 0 .4em 0; padding: .7em 0 .3em 0; color: #442727;}
#row1content h2{text-align: center; color: #555555; font-size: 1.3em;}

#row2content {padding-bottom: 3em; padding-top: 1em;}
#row2content h1{text-align: center; margin: 0 0 .4em 0; padding: .7em 0 .3em 0; color: #e30655;}


#features{text-align: center;}
#features footer{margin-top: 1.25em;}
#features footer a{color: #392828; padding: .4em 1.9em; background-color: #efeed7; border: 1px solid #dfdfcc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-transform: uppercase;}
#features footer a:hover{color: #ffffff; background-color: #e63f0c; border: 2px solid #e63f0c;}


/* Grid */

.grid_1of2, 
.grid_1of3, .grid_2of3, 
.grid_1of4, .grid_2of4, .grid_3of4, 
.grid_1of5, .grid_2of5, .grid_3of5, .grid_4of5, 
.grid_1of6, .grid_2of6, .grid_3of6, .grid_4of6, .grid_5of6{margin: 0 0 0 4%; list-style: none; float: left; display: inline;}

.grid_1of2:first-child, 
.grid_1of3:first-child, .grid_2of3:first-child, 
.grid_1of4:first-child, .grid_2of4:first-child, .grid_3of4:first-child, 
.grid_1of5:first-child, .grid_2of5:first-child, .grid_3of5:first-child, .grid_4of5:first-child, 
.grid_1of6:first-child, .grid_2of6:first-child, .grid_3of6:first-child, .grid_4of6:first-child, .grid_5of6:first-child{margin-left: 0;}

/*Two Parts Grid*/
.grid_1of2{width: 48%;}
.grid_1of2.nogap{width: 50%;}

/*Three Parts Grid*/
.grid_1of3{width: 30.6%;} .grid_2of3{width: 65.333333%;}
.grid_1of3.nogap{width: 33.33333%;} .grid_2of3.nogap{width: 66.66666%;}

/*Four Parts Grid*/
.grid_1of4{width: 22%;} .grid_2of4{width: 48%;} .grid_3of4{width: 74%;} 
.grid_1of4.nogap{width: 25%;} .grid_2of4.nogap{width: 50%;} .grid_3of4.nogap{width: 75%;}

/*Five Parts Grid*/
.grid_1of5{width: 16.8%;} .grid_2of5{width: 37.6%;} .grid_3of5{width: 58.4%;} .grid_4of5{width: 79.2%;}
.grid_1of5.nogap{width: 20%;} .grid_2of5.nogap{width: 40%;} .grid_3of5.nogap{width: 60%;} .grid_4of5.nogap{width: 80%;}

/*Six Parts Grid*/
.grid_1of6{width: 13.33333%;} .grid_2of6{width: 30.66666%;} .grid_3of6{width: 48%;} .grid_4of6{width: 65.333333%;} .grid_5of6{width: 82.66666%;}
.grid_1of6.nogap{width: 16.66666%;} .grid_2of6.nogap{width: 33.33332%;} .grid_3of6.nogap{width: 49.99998%;} .grid_4of6.nogap{width: 66.66664%;} .grid_5of6.nogap{width: 83.3333%;}


/* Sidebar */
#sidesection h2{ font-size:1.1em; color: #000000; margin-top:10px; padding: 5px 10px;  text-align: left; border-bottom:2px solid #b73764;}
#sidesection p{ font-size: 1em; padding: 10px; text-align: left }
#sidesection ul { list-style : none; margin-bottom: 1.7em;}
#sidesection ul li a { display:block; text-decoration:none; color:#E70052; background-color: #ffffff; line-height: 1.8em;
  border-bottom: 1px dotted #CCCCCC; padding-left: 10px; cursor: pointer; }
#sidesection ul li a:hover { color: #000000;}


/* Form */
fieldset{margin: 0;padding: 0; border: 0;}
label{display: block; float: left; width: 25%;}
input,select,textarea{float: left; padding: .5em; width: 60%; border: 1px solid #9d0c54;}
input[type="submit"], input[type="reset"], input[type="button"]{float:none; width:auto; margin-right: .3em; padding:.4em .9em .4em .9em; color:#ffffff; background-color:#9d0c54; cursor:pointer;}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{color: #ffffff; background-color: #555555; cursor:pointer; border: 1px solid #333333;}
input:focus,select, textarea:focus{background-color: none repeat scroll 0 0 #f1f1f1;}
textarea{font-family:  Arial, Helvetica, sans-serif; font-size:13px;}
.formfield{ display: block; padding: .6em 0; margin: 0; min-height: 1px; overflow: hidden; color: #222; text-align: left; }

.form input[type="submit"] {display: none;}

/* Footer */
.footernav { margin: 0 0 .7em 0; color: #dedede; overflow:hidden;}
.footernav h2 {font-size: 1.1em; color: #fff; text-shadow: 1px 1px 0 #000; margin-bottom: .7em;}
.footernav ul {margin: 0; padding: 0; }
.footernav li {margin: 0 .3em .3em 0; padding: 0 0 .3em 0; list-style: none; display: block; line-height:25px;}
.footernav a {color: #dedede;}
.footernav a:hover {color: #c05757;} 


.imagegrid { margin: 0; padding: 0; list-style: none; width:auto;}
.imagegrid > li {width: 33%; float: left; display: inline; position: relative; margin:0; }
.imagegrid > li:hover {z-index: 99; }
.imagegrid > li .box { padding:0; margin:5px; background:#00acee;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  padding-bottom: 25px; height: 350px; overflow:hidden; -webkit-box-shadow: 0 10px 6px -6px #777; -moz-box-shadow: 0 8px 6px -6px #777; box-shadow: 0 8px 6px -6px #777; cursor: pointer;}
.boxcontent{color:#000; height: 350px;}
.imagegrid > li img {position: relative; width:100%; }

.imagegrid > li .info {display: block; position: absolute; left: 0; right:0; bottom:0; padding:0; margin:5px; background: #333; color:#f1f1f1; z-index:999;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.imagegrid > li:hover .info {background: #333; display: block; text-align:left !important;  }

.imagegrid > li .text{
	z-index: 999;
	position:absolute;
	top:20%;
	opacity:1;
	color:#ffffff;
	display:block;
	margin:1px;
	text-align:left !important;
	width:auto;
	padding:30px;
}

.imagegrid > li .infohead{	z-index: 999;position: absolute; opacity:.5; color:#ffffff; display:block; margin:1px; right:0; left:0; text-align:left !important; bottom:20%; width:70px; background:#999;}
.imagegrid > li:hover .infohead{opacity:1;}
.imagegrid > li:hover img{z-index: 999; filter: alpha(opacity=100); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; cursor:auto;}

.twitter {position: absolute; color:#f1f1f1; z-index:9999; background:#ff0000 url("../images/twitter-icon.png") no-repeat; bottom:0; width:100%; height:78px; left:0; content:" ";}
.twitter:after {position: absolute; padding-left:100px; content:"@responsivefree"; color:#000; padding-top:22px;}
.imagegrid > li .box p {position: relative; padding: 15px; padding-left:75px; margin: 0; height:78px; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.imagegrid > li:hover .box p {background-color:#000;}
.icon3{position: absolute; color:#f1f1f1; z-index:9999; background:#333 url("../images/icon3.png") no-repeat;}
.icon1{position: absolute; color:#f1f1f1; z-index:9999; background:#333 url("../images/icon1.png") no-repeat;}


@media screen and (max-width: 960px) {
.imagegrid > li {width: 50%;}
}

@media screen and (max-width: 680px) {
.imagegrid > li .box { height: 300px;}
}

@media screen and (max-width: 520px) {
.imagegrid > li {width: 100%;}
.imagegrid > li .box { height: 270px; font-size:95%; line-height:20px;}

}

