@-ms-viewport{width:device-width;} 

/*@media screen and (max-width: 360px) {
#header, #intro, #footer, #copyright, #content{max-width: 100%; margin: 0;}
#right-top {width:auto;}

}

@media screen and (max-width: 480px) {
body {font-size: 90%;}
#content {padding: 13px 0;}
#imagegrid li {width: 100% !important;}
#social ul li{list-style: none; display:inline; padding: 5px 0px;}
.textwrap1{width: 330px;	position: relative;	margin: 0 auto;	top: 30%; text-align: center;}
label{float: none; width: 100%;}
input,select,textarea{float: none; width: 90%;}
}
*/

/* Jquery Tabs */
@media screen and (max-width: 520px) {
	.welcome-mob{display: block;padding: 3px 18px; background:#d88518; color: #ffffff;}
	.tab-container-pad{padding: 3px !important;}
	.logintextbox{width:200px !important;}
	.loginbox{width:96%;}
	.formbtn2, .formbtn3{width: 90px;}
	
.tab-wrapper{display:block; width:100%;}
.tab-wrapper .tab-nav{position:relative; margin:0; padding:0; list-style:none;}
.tab-wrapper .tab-nav li{display:inline-block; float:left; }
.tab-wrapper .tab-nav li a{font-size:13px; display:block; padding:6px 10px; }
.tab-wrapper .tab-nav li a:hover, .tab-wrapper .tab-nav li.ui-tabs-active a{color:#ffffff; }
.tab-wrapper .tab-nav li.ui-tabs-active a{cursor:default;}
.tab-wrapper .tab-container{ border:1px solid #a1bad1; background-color: #ffffff;}
.tab-container-pad{padding:20px 25px 15px 25px;}
}

@media screen and (max-width: 780px) {
#right-top {width:auto;}
#imagegrid li {width: 50%;}

@media screen and (max-width: 640px) {
#intro{text-align:center;}
#intro figcaption{font-size: 16px; line-height:120%; color: #000000; text-transform:none; text-align:center; margin:8px 0 24px 0;} 
#intro h1 {text-align:center; font-size:24px;}
#intro img {width:70%; float:none;}



.grid_1of4{width: 49.26%; margin:0 0 5% 0;} } 
}

/*@media screen and (max-width: 712px) {
	#logo a {margin:0 0 0 15px;}
	#nav {display:none;}
	#mob-nav{display: block;}
}*/

@media screen and (max-width: 712px) {
	#logo a {margin:0 0 0 15px;}
	.menu-toggle {	display:block; }
	#nav {display: none;}
	#nav ul {width:100%;}
	#nav ul li.menu {width:100% !important;padding:0; border-top:1px solid #745a5a; float: none;}	
	#nav ul li.menu a{display: block; width:100%; border:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 10px 30px; }

}


@media screen and (max-width: 780px) {
.imagegrid li, .imagegrid2 li {width: 50%;}
}



@media screen and (max-width: 1280px) {
#header, #intro, #footer, #copyright, #content, #row1content, #row2content  {margin: 0 auto; max-width:95%;}
}
/* Header CSS */
@media (min-width: 600px) and (max-width: 767px) {
.topbg {
  background-image: url("../images/top-bg-xs.png");
  background-clip: initial;
  background-color: #e4b805;
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 275px;   
}
.logowrap img{
  width:220px;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; 
  text-align:left;
}
}
@media only screen and (max-width: 767px){ 

}
@media (min-width: 768px) and (max-width: 991px) {
.topbg {
  background-image: url("../images/top-bg.png");
  background-clip: initial;
  background-color: #e4b805;
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 275px; 
}
.logowrap img{
  width:250px;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; 
  text-align:left;
}
}
@media screen and (min-width: 992px) and (max-width: 1199px){

}
@media only screen and (min-width: 600px){ 

}
@media only screen and (max-width: 599px) {
.topbg {
  background-image: url("../images/top-bg-xs1.png");
  background-clip: initial;
  background-color: #e4b805;
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 200px;   
}
.logowrap img{
  width:200px;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; 
  text-align:left;
}
h1 {
  font-size: 22px;
  text-align: left;  
  padding-top: 3px;  
  color: #fff;
}
.subtext {
  color: #fff;
  font-size: 15px;
  text-align: left;
}
}